@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    font-size: 14px;

    --Dark-Blue: hsl(217, 28%, 15%);
    --BG-Dark-Blue: hsl(218, 28%, 13%);
    --FTR-Dark-Blue: hsl(216, 53%, 9%);
    --TSM-Dark-Blue: hsl(219, 30%, 18%);
    --Cyan: hsl(176, 68%, 64%);
    --Blue: hsl(198, 60%, 50%);
    --Light-Red: hsl(0, 100%, 63%);
    --White: hsl(0, 0%, 100%);

    /* fs = Font size */
    --fs-s: 0.8rem;
    --fs-n: 1rem;
    --fs-m: 1.25rem;
    --fs-l: 1.5rem;
    --fs-xl: 1.75rem;
    --fs--xxl: 2rem;
    --fs--xxxl: 2.5rem;

    /* fw = font weight */
    --fw-l: 400;
    --fw-b: 700;
}

html {
    font-size: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;

    background: var(--BG-Dark-Blue);
    color: var(--White);
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.container {
    position: relative;
}

/* ============= Default Stylings ============= */

h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: clamp(var(--fs--xxl), 2vw, var(--fs--xxxl));
}
h2 {
    font-size: clamp(var(--fs-xl), 2vw, var(--fs--xxl));
}
h3 {
    font-size: (var(--fs-l), 2vw, var(--fs-xl));
}
p {
    font-size: (var(--fs-m), 2vw, var(--fs-n));
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
input,
button {
    padding: 0;
    margin: 0;
}
button,
a {
    cursor: pointer;
    display: block;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--White);
}

/* this is used in sign up form and main CTA button in hero section */

label {
    display: none;
}
input,
button {
    outline: none;
    border: none;
    border-radius: 4rem;
    width: 100%;
    height: clamp(50px, 4vw, 60px);
    padding: 0 2rem;
}
input::placeholder {
    opacity: 0.6;
}
button {
    background-color: var(--Cyan);
    background: linear-gradient(90deg, var(--Cyan) 0%, var(--Blue) 98%);
    color: var(--White);
    font-size: var(--fs-l);
    font-weight: var(--fw-b);
}
button:hover {
    transition: all 3s ease-in;
    background: linear-gradient(90deg, var(--Cyan) 0%, var(--Cyan) 98%);
}

/* ============= Header Stylings ============= */

header {
    background: var(--TSM-Dark-Blue);

    width: 100%;
    max-height: 100%;
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 960px) {
    header {
        padding: 4rem 6rem;
    }
}

header > img {
    height: clamp(30px, 6vw, 50px);
}
.nav-menu {
    display: flex;
    column-gap: clamp(1.5rem, 2vw, 2.5rem);
}
.nav__link {
    font-size: clamp(var(--fs-n), 2vw, var(--fs-m));
    opacity: 0.7;
}
.nav__link:hover {
    opacity: 1;
    border-bottom: 1px solid var(--White);
    transition: 0.25s ease-in-out;
}

/* ============= Hero Section Stylings ============= */

.hero {
    margin: auto;
    background: var(--TSM-Dark-Blue);
    padding-bottom: 5rem;
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    background-size: contain;
}
@media screen and (min-width: 1440px) {
    .hero {
        background-image: url(images/bg-curvy-mobile.svg);
    }
}
.hero-container {
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

.hero-img-container {
    width: 100%;
}
.hero-img {
    height: clamp(200px, 28vw, 450px);
    margin: 3rem 0;
}
.hero-text-container {
    margin: auto;
    padding: 2rem;
}
.hero-text-container {
    max-width: 700px;
}

.hero-text-container p {
    font-size: var(--fs-m);
    padding: 2rem;
}
.hero-text-container button {
    margin: auto;
    width: clamp(220px, 15vw, 280px);
    height: clamp(45px, 15vw, 55px);
}
/* ============= Features Section Stylings ============= */

.features {
    max-width: 1440px;
    margin: auto;
}

.feature {
    padding: 3.5rem 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.feature img {
    margin: 1rem;
}

.feature-text-container h2 {
    padding: 1rem 0;
}

@media screen and (min-width: 950px) {
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        gap: 20px;
    }
}

/* ============= Hero2 Section Stylings ============= */

.hero2 {
    max-width: 1440px;
    margin: 5rem auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hero2-img {
    height: clamp(275px, 50vw, 500px);
}

.hero2-text-container {
    text-align: start;
}
.hero2-text-container h2,
.hero2-text-container p,
.hero2-text-container a {
    margin: 2rem 0;
}
.hero2-text-container a {
    width: fit-content;
    border-bottom: 1px solid var(--Blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.hero2-text-container a img {
    display: block;
}

@media screen and (min-width: 960px) {
    .hero2 {
        flex-direction: row;
    }
    .hero2-text-container {
        margin: 4rem;
    }
}

/* ============= Testimonial Section Stylings ============= */
.testimonial-container {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 1rem 0 10rem 0;
}
.testimonial-div {
    text-align: start;
    width: 280px;
    min-height: 165px;
    background: var(--TSM-Dark-Blue);
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: 8px 8px 0px 0px hsla(217, 27%, 15%, 0.65);
    -webkit-box-shadow: 8px 8px 0px 0px hsla(217, 27%, 15%, 0.65);
    -moz-box-shadow: 8px 8px 0px 0px hsla(217, 27%, 15%, 0.65);
}

.testimonial-div p {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    line-height: 1.8;
}
.testimonial-div h4 {
    font-size: clamp(0.9rem, 2vw, 1rem);
}
.testimonial-div h5 {
    font-weight: 400;
    font-size: clamp(0.5rem, 2vw, 0.8rem);
}
.testimonial-credential {
    width: 100%;
    display: flex;
    margin: 0.5rem;
}
.testimonial-credential img {
    height: 25px;
    border-radius: 50%;
    margin-right: 1rem;
}
.testimonial-credential-text-container {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (min-width: 1100px) {
    .testimonial-container {
        display: flex;
    }
    .testimonial-div {
        width: clamp(350px, 28vw, 450px);
        min-height: 165px;
        border-radius: 12px;
    }
}

/* ============= Sign Up Form Stylings ============= */

.sign-up-form {
    margin: auto;
    max-width: 950px;
}
.sign-up-form-container {
    margin: 2rem;
    padding: 2rem clamp(2rem, 8vw, 5rem);

    background: var(--Dark-Blue);
    border-radius: 1rem;

    margin-bottom: -10rem;
    position: relative;
    z-index: 10;

    box-shadow: 0px 10px 2px 0px hsla(216, 68%, 7%, 0.6);
    -webkit-box-shadow: 0px 10px 2px 0px hsla(216, 68%, 7%, 0.6);
    -moz-box-shadow: 0px 10px 2px 0px hsla(216, 68%, 7%, 0.6);
}

.sign-up-form h2 {
    margin: 0 0 1rem 0;
}
.sign-up-form p {
    margin: 1rem 0;
    line-height: 1.5;
}
.sign-up-email-error-msg {
    display: none;
    color: var(--Light-Red);
    font-size: var(--fs-n);
    float: left;
    padding-left: 2rem;
    margin: 0;
    position: absolute;
    left: 5rem;
    bottom: 10px;
    z-index: 15;
}

.sign-up-form-input-container input,
.sign-up-form-input-container button {
    margin: 1rem 0;
}

@media screen and (min-width: 920px) {
    .sign-up-form-input-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 1.3rem;
        align-content: center;
        justify-items: stretch;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* ============= Footer Stylings ============= */

footer {
    background: var(--FTR-Dark-Blue);
    padding: 15rem 2rem 5em 2rem;
    font-size: var(--fs-m);
    position: relative;
    text-align: start;
}

.footer_contact img {
    height: 80px;
    margin: 2rem 1rem;
}

.footer_contact div {
    display: flex;
    width: 100%;
    align-items: center;
}
.footer_contact div img {
    height: 25px;
    margin: clamp(1.2rem, 2vw, 1.5rem);
    margin-left: 0;
}

/* footer nav */

footer ul {
    margin: 2rem 0;
}
footer ul li {
    line-height: 2;
}
footer ul li a:hover {
    width: fit-content;
    border-bottom: 1px solid var(--White);
    transition: 0.3s ease-in-out;
}

/* footer socials */
.footer__socials {
    width: 170px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__socials__list {
    border: 1px solid var(--White);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer__socials__list img {
    height: 20px;
}

.footer__socials__list:hover {
    border-color: var(--Blue);
    background-color: var(--Blue);
}

@media screen and (min-width: 1050px) {
    footer {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 400px 100px 100px 200px;
        grid-template-rows: 1fr auto;
        gap: clamp(2rem, 4vw, 20rem);
        justify-items: center;
        justify-content: center;
        align-items: baseline;
        align-content: center;
    }
}

.attribution {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);

    font-size: clamp(var(--fs-n), 2vw, var(--fs-m));
    text-align: center;
}
.attribution a {
    display: inline;
    color: hsl(228, 45%, 44%);
}
